.menu {
    background-color: lightblue;

    &__contenu {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
    }
}

.menu__li {
    flex-grow: 1;
    padding: 10px;
}

.menu__a {
    text-decoration: none;
}