.hero {

    &__conteneur {
        position: relative;
        text-align: center;
    }

    &__texte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    &__image {
        height: 50vh;
        object-fit: cover;
        filter: brightness(50%);
    }
}