.menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9c74f;
    padding: 15px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item>a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 12px;
}